@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* Reset properties */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
main,
h1,
h2,
h3,
p {
    margin: 0;
}


/* Custom Properties */
:root {

    font-size: 10px;
    --fs-0: 2.8rem;
    --fs-1: 2.4rem;
    --fs-p: 1.4rem;
    --fs-p1: 1.5rem;

    --ff: 'Overpass', sans-serif;
    --fw-m: 400;
    --fw-b: 700;


    --clr-vd-blue: #131518;
    --clr-dark-blue: #262E38;
    --clr-white: #fff;
    --clr-orange: #FC7614;
    --clr-medium-gray: #7C8798;
    --clr-light-gray: #969FAD;
    --clr-bg-black: #121417;

    --white: #ffffff;
    --primary-color: #7c8798;
    --secundary-color: #fb7413;
    --select-state: #959eac;
    --bg-card: #252d37;
    --bg-color: #121417;
    --bg-secondary: #7c87981a;


    --spacer: 1rem;
    --spacer-md: calc(var(--spacer) * 2);
    --spacer-lg: calc(var(--spacer) * 3);

    --shadow: 0 0 1em rgba(0, 0, 0, .25);
    --br: 5px;

}

/* General styles */
html {
    background-color: var(--clr-bg-black);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    cursor: default;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

.btn {}

/* General typography */
h1 {
    font-family: var(--ff);
    font-size: var(--fs-1);
    line-height: 3.04rem;
    color: var(--clr-white);
}

p {
    font-family: var(--ff);
    font-size: var(--fs-p);
    line-height: 2.2rem;
    color: var(--clr-light-gray);
}

/* Background images */


/* Containers */
.rating-card,
.thankyou-card {
    max-width: 32.7rem;
    max-height: 36rem;
    background-color: var(--bg-card);
    background: radial-gradient(circle at 50% 0%,
            #232A34 0%,
            #181E27 100%);
    border-radius: 1rem;
    padding: 2.4rem 2.4rem;
}

/* Header */

/* Rating Card */
/* .rating-card__star-img {
    background: url(/images/icon-star.svg);
    width: 100%;
    height: 100%;
} */

/* Rating card */
.star {
    display: flex;
    align-items: left;
    background-size: 42px 42px;
    background-color: var(--clr-dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-medium-gray);
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
}

.rating-card__body {
    margin-bottom: 2.4rem;
}

.rating-card__heading {
    margin: 1.6rem 0 1rem 0;
}

/* .rating_card-numbers {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 2.4rem
} */

.star-rating-panel input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
    border: none;
    padding: 0;
    margin: 0;
}

.star-rating-panel label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--ff);
    font-size: var(--fs-p);
    font-weight: var(--fw-b);
    color: var(--clr-medium-gray);
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    background-color: var(--clr-dark-blue);
}

.star-rating-panel {
    display: flex;
    justify-content: space-between;
    border: none;
    margin-bottom: 2.4rem
}

/* .star-rating-panel_number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: var(--ff);
    font-size: var(--fs-p);
    font-weight: var(--fw-b);
    color: var(--clr-medium-gray);
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    background-color: var(--clr-dark-blue);
} */

/* .rating_card-number {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: var(--ff);
    font-size: var(--fs-p);
    font-weight: var(--fw-b);
    color: var(--clr-medium-gray);
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    background-color: var(--clr-dark-blue);
} */

.rating-card__submit-btn {
    height: 4.5rem;
    width: 100%;
    font-family: var(--ff);
    font-weight: var(--fw-m);
    font-size: var(--fs-p1);
    text-transform: uppercase;
    letter-spacing: 1.87px;
    color: var(--clr-white);
    background-color: var(--clr-orange);
    border-radius: 2.5rem;
    border: none;
}

.thankyou-card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thankyou-card__receipt-img {
    margin-top: 1rem;
    margin-bottom: 2.4rem;
    height: 96px;
    width: 144px;
}

.thankyou-card__rating-confirm {
    font-family: var(--ff);
    font-size: var(--fs-p);
    font-weight: var(--fw-m);
    line-height: 22px;
    color: var(--clr-orange);
    font-style: normal;
    padding: 0.6rem 1.5rem 0rem 1.5rem;
    background-color: var(--clr-dark-blue);
    border-radius: 2.5rem;
}

.thankyou-card__heading {
    line-height: 3.4rem;
    margin-top: 2.4rem;
    margin-bottom: 1rem;
}

p.thankyou-card__body {
    text-align: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution {
    color: white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}